@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>See all the <a asp-controller="Movie" asp-action="GetAllMovies">movies</a>.
    </p>
    <p>Add a streaming partner here: <a asp-action="Page" asp-controller="Stream">Add MSS</a></p>
</div>
